<header>
  <h1>Giga Chat Bot</h1>
</header>
<main>
  @let conversation = conversationDetails(); @if(conversation) {
  <section class="conversation-container" #conversationContainer>
    <header>
      <h2>Test Conversation</h2>
      <div class="conversation-id">{{ conversation.id }}</div>
    </header>
    <div class="messages-container">
      @for (message of conversation.messages; track $index) {
      <div
        *ngIf="message.type == MessageType.Assistant"
        class="message assistant"
      >
        <p>{{ message.content }}</p>
        <div class="message-actions">
          <button
            [class.active]="message.reaction == MessageReaction.Like"
            (click)="
              reactToMessage(
                message.id,
                message.reaction == MessageReaction.Like
                  ? MessageReaction.None
                  : MessageReaction.Like
              )
            "
          >
            like
          </button>
          <button
            [class.active]="message.reaction == MessageReaction.Dislike"
            (click)="
              reactToMessage(
                message.id,
                message.reaction == MessageReaction.Dislike
                  ? MessageReaction.None
                  : MessageReaction.Dislike
              )
            "
          >
            dislike
          </button>
        </div>
      </div>
      <div *ngIf="message.type == MessageType.User" class="message user">
        <p>{{ message.content }}</p>
      </div>
      } @if (currentQuestion() != null && currentQuestion()!.length > 0) {
      <div class="message user">
        <p>
          {{ currentQuestion() }}
        </p>
      </div>
      } @if (currentResponse() != null && currentResponse()!.length > 0) {
      <div class="message assistant">
        <p>
          {{ currentResponse() }}
        </p>
      </div>
      }
    </div>
  </section>
  <section class="input-section">
    <input
      [formControl]="inputFormControl"
      placeholder="Ask anything.."
      (keypress)="onKeyPress(conversation.id, $event)"
    />
    <button
      [hidden]="!inputFormControl.disabled"
      (click)="cancelResponseGeneration()"
    >
      cancel
    </button>
  </section>
  }
</main>
